html *{
  font-family: 'Catamaran', sans-serif;
}

html {
  background-color: #0A64A4;
}
header {
  color:#65A5D1;
  background-color:#03406A;
  border-bottom: 5px solid #03406A;
  width:100%;
}
.topclass{
  background-color: #080B74;
  color:#4E51D8;
}

h1{
	color:#65A5D1;
	text-align: center
}

/**.topnavstyle{
    text-align:left;
    list-style: none;
    float:left;
    font-weight:400;
    font-size:20px;
    display: inline-block
    margin: 5px;
    padding: 0.5em;
    border-right: 3px solid black;
  }**/

#buttondiv{
    position:absolute;
}

#continentdiv{
  position:absolute;
  z-index:1;
  float:right;
  top:350px;
  left:730px;
  color:white;
  height:100px;
  width:400px;
}

#africaButton{
  position:relative;
  top:350px;
  left:198px;
}

#worldMap {
  border: 5px solid #FFBE00;

}

#asiaButton{
  position:relative;
  top: 155px;
  left:450px;
}


#australiaButton{
  position:relative;
  top:450px;
  left:525px;
}

#europeButton{
  position:relative;
  top: 155px;
  left:-40px;
}

#naButton{
  position:relative;
  top: 200px;
  left:900px;
}

#saButton{
  position:relative;
  top: 390px;
  left:980px;
}


#africaButton:hover{
  background-color: #FFBE00;
  color:white;
}

#asiaButton:hover{
  background-color: #FFBE00;
  color:white;
}

#australiaButton:hover{
  background-color: #FFBE00;
  color:white;
}

#europeButton:hover{
  background-color: #FFBE00;
  color:white;
}

#naButton:hover{
  background-color: #FFBE00;
  color:white;
}

#saButton:hover{
  background-color: #FFBE00;
  color:white;
}

.sample{
  background-color: black;
  padding:5px;
  opacity:0.7;
  display:none;
}



